<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gp_test"
        tools:targetApi="31">
        <activity
            android:name=".AddMedTables"
            android:exported="false" />
        <activity
            android:name=".NewPills"
            android:exported="false"
            android:theme="@style/Theme.Gp_test" />
        <activity
            android:name=".SavedResultSc"
            android:exported="false" />
        <activity
            android:name=".MedTablesSc"
            android:exported="false" />
        <activity
            android:name=".CodeCheckSc"
            android:exported="false" />
        <activity
            android:name=".AnalysisSc"
            android:exported="false" />
        <activity
            android:name=".CamSc"
            android:exported="false" />
        <activity
            android:name=".LogInSc"
            android:exported="false" />
        <activity
            android:name=".RegSc"
            android:exported="false" />
        <activity
            android:name=".pillsSc"
            android:exported="false" />
        <activity
            android:name=".TestResultSc"
            android:exported="false" />
        <activity
            android:name=".TutorialPageSc"
            android:exported="false" />
        <activity
            android:name=".SplashSc"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>